body{
	background-color: #0079BF;
}

header{
	position: fixed;
	background-color: #026AA7;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}
/*menu*/
/*boton trello*/
#btnTrello{
	float: left;
	position: absolute;
	background-color: #67A6CA;
	border: 1px solid transparent;
	border-radius: 5px;
	width: 100px;
	color: #ffffff;
	font-size: 14px;
	font-family: "Helvetica Neue", Arial;
	line-height: 30px;
	font-weight: 700; 
	top: 5px;
	left: 5px;
}

#btnTrello i{
	padding-right: 5px;
	font-size: 17px; 
}

/*buscador*/
#buscador{
	color: #ffffff;
}

#buscador input{
	position: absolute;
	background-color: #67A6CA;
	border: 1px solid transparent;
	border-radius: 5px;
	width: 180px;
	left: 115px;
	top: 5px;
	height: 30px;
}

#buscador .fa-search{
	position: absolute;
	float: left;
	margin-left: 260px;
	margin-top: 5px;
	padding: 5px;
	font-size: 18px;
}

/*icono trello del medio*/
#trello{
	position: absolute;
	font-size: 20px;
	color: #67A6CA;
	margin-left: 610px;
	font-family: "Helvetica Neue", Arial, Helvet;
	line-height: 18px;
	top: 5px;	
}

#trello .fa-trello{
	padding-right: 5px;
	font-size: 20px;
}

/*ultima parte del menu*/
#menuEnd{
	margin-top: 5px;
	list-style: none;
	border: 1px solid transparent;
}

#menuEnd li button i{
	font-size: 20px;
}

#menuEnd li{
	display: inline-block;

}

#menuEnd li:first-child{
	margin-left: 1150px;
}

li button {
	border: 1px solid transparent;
	border-radius: 3px;
	background-color: #67A6CA;
}

.fa-plus, .fa-info-circle, .fa-bell-o{
	padding: 3px 0px;
	color: #ffffff;
}

.btnPerfil{
	padding: 7px 5px;
	color: #ffffff;
	border-radius: 20px;
	font-size: 15px;
}
/*primera seccion del body*/
#user{
	font-size: 16px;
	margin-top: 80px;
	margin-left: 80px;
	color: #ffffff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 700;
	line-height: 24px;
}

#user ul li{
	display: inline-block;
	list-style: none;
}

#subtitle{
	font-size: 19px;
	line-height: 30px;
	font-weight: 700;
	margin-right: 15px;
}

#user ul li i{
	font-weight: 700;
	margin-right: 15px;
}

#user ul li:last-child{
	font-weight: 500;
	font-size: 17px;
}

/*boton añadir lista*/

#List button{
	background-color: #0067A3;
	font-size: 17px;
	border: 1px solid transparent;
	border-radius: 5px;
	width: 270px;
	padding: 15px 5px;
	margin-left: 20px;
	color: #67A6CA;
}

/*div vacio que contiene los nombres de lista que ingrese el usuario*/
#contenedorLista{
	height: auto;
	display: inline-flex;
}

#contenedorLista div{
	background-color: #E2E4E6;
	float: left;
	margin-left: 19px;
	width: 300px;
	margin-top: 10px;
	margin-right: 10px;
	border 1px solid #AAAAAA;
	border-radius: 2px;
	/*display: inline-flex;*/
	padding: 5px;
	vertical-align: top;
}

#contenedorLista a{
	text-decoration: none;
}
#contenedorLista a:hover{
	text-decoration: underline;
}

/*div que contiene div de elemento p y div elemento enlace*/
#nuevaLista div{
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 0px 1px;
}


/*formulario oculto*/

#formularioOculto {
	background-color: #E2E4E6;
	width: 310px;
	height: auto;
	margin-top: 10px;
	margin-left: 20px;
	text-align: top;
	border: 1px solid #AAAAAA;
	border-radius: 2px;
	vertical-align: top;
	
}
#formularioOculto div{
	display: inline-block;

}
#listaOculta{
	background-color: #D6D8DA;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	width: 270px;
	padding: 15px;
	margin-left: 4px;
	margin-top: 5px;
}

#listaOculta::placeholder{
	color: #AAAAAA;
	font-size: 17px;
}

#formularioOculto button{
	border: 1px solid transparent;
	border-radius: 2px;
	background-color: #519839;
	color: #ffffff;
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 17px;
	padding: 5px 0px;
}

#formularioOculto i{
	margin-top: 10px;
	margin-left: 15px;
	font-size: 25px;
}


#contenedorForm{
	height: auto;
	display: block;
}


#contenedorForm div{
	width: 310px;
	margin-left: 19px;
	margin-right: 10px;
	background-color: #E2E4E6;
    /* background-color: #D6D8DA; */
    border-radius: 1px;
	/*border-radius: 5px; */
	margin-top: -1px;
	display: inline-block;
}

#contenedorForm form textarea{
	width: 295px;
	height: 54px;
	resize: none;
	margin-left: 5px;
	border-radius: 5px;
}
#contenedorForm form button{
	border: 1px solid transparent;
	border-radius: 2px;
	background-color: #519839;
	color: #ffffff;
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 17px;
	padding: 5px 0px;
}

#contenedorForm i{
	margin-left: 20px;
	font-size: 25px;
}

